
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* Remove default button styles */
.login {
    background: white;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
    width: 300px;
}
.login h2 {
    margin-bottom: 20px;
    color: #091e3f;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    margin-bottom: 10px;
}
.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.login input [type="submit"] {
    width: 100%;
    background: #005289;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.login input [type = "submit"]:hover {
    background: #2980b9;
}
.login label i {
    position: absolute;
    margin-left: -30px;
    margin-top: 14px;
    color: #666;
}
