.navbar-collapse {
  background-color: rgb(255, 255, 255) !important; 
  padding: 5px;
  border-radius: 5px;
  right: 0;
  height: 1000vh;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  height: fit-content;
}


.navbar-collapse.collapse.show {
  width: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  height: max-content;
}
