.service {
  min-height: 100vh;
  width: 100%;
  background-color: #333; /* or any background */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 155px;
}

.services-container {
  width: 400px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .services-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
  }

  .dropdown-container {
    max-width: 500px;
    text-align: left;
    padding: 0 10px 0 10px ;
    margin: 0;
  }
  
  .dropdown-container label {
    font-size: 1rem;
    color: #444;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
  }
  
  .dropdown-container select {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
  }
  
  .dropdown-container select:hover {
    border-color: #888;
  }
  
  .services-container select {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  .services-container option {
    font-size: 1rem;
  }
  
  /* Booking section */
  .booking-container {
    max-width: 500px;
    text-align: left;
    padding: 10px;
  }
  
  .booking-container label {
    font-size: 1rem;
    color: #444;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
  }
  .booking-container input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
  }
  
  .booking-container button {
    width: 100%;
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 0 10px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .booking-container button:hover {
    background-color: #45a049;
  }

  @media (max-width: 768px) {
    .services-container h2 {
      font-size: 1.8rem;
    }
  
    .dropdown-container {
      padding: 15px;
      margin: 10px auto;
      max-width: 90%;
    }
  
    .booking-container {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  